<style>
    #sizeDiv {
        width: 500px;
        height: 150px;

    }

    .mx-auto {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }

    .my-auto {
        margin-top: auto;
        margin-bottom: auto;
        height: 150px;
    }

    #sumButton {
        margin-left: auto;
        margin-right: auto;
        width: 80px;
    }

    #result {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        margin-top: 20px;

        background-color: rgb(252 252 252);
    }

    .has-error {
        border-style: solid;
        background-color: rgb(252 252 252);
        color: red;
    }

    .has-done {
        border-style: solid;
        background-color: rgb(252 252 252);
        color: blue;
    }
</style>
<section>
    <div id="result" class="container text-center">

    </div>
    <div id="sizeDiv" class="container mx-auto my-auto">

        <form action="/forgot/users" method="POST">
            <div class="form-group mx-auto">
                <label class="form-group">Enter Email</label>
                <input form="email" type="email" name="email" class="form-control" required="required">

            </div>
            <div id="sumButton" class="form-group">
                <button class="btn btn-primary ">Reset</button>
            </div>
        </form>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('form').submit(function (event) {
            event.preventDefault()
            var form_data = { 'email': $('input[name=email]').val() }

            $.ajax({
                url: '/forgot/users',
                method: 'post',
                dataType: 'json',
                data: form_data,
                success: function (response) {

                    if (response.status) {
                        $('#result').addClass('has-done')
                        $('#result').append('<div class="help-block" >' + response.message + '</div>')
                    } else {
                        $('#result').addClass('has-error')
                        $('#result').append('<div class="help-block" >' + response.err + '</div>')
                    }
                }

            })
        })
    })
    $('form').submit(function (event) {

        $('#result').removeClass('has-error');
        $('.help-block').remove();
    })
</script>