<form action="/p/detaileLogup" method="POST">
  <div class="form-group">
    <label for="inputsm">ShopName</label>
    <input style="border-color: black;border-width: 1px;" name="shopName" id="inputsm" type="text">
  </div>
  <div class="form-group">
    <label for="comment">Addres</label>
    <textarea style="border-color: black;border-width: 1px;" class="form-control" name="address" rows="5" id="comment"></textarea>
  </div>

  <div class="form-group">
    <label for="inputlg">PinCode</label><br>
    <input style="border-color: black;border-width: 1px;" name="pincode" id="inputlg" type="text">
  </div>
  <div class="form-group">



    <label for="cars">Choose :</label>

    <select  name="shopCatogory" class="browser-default custom-select form-contol">
      <option selected>Shop Catogory</option>
      <option value="1">Mobile&aAccossories</option>
      <option value="2">Laptop&Accessories</option>
      <option value="3">Camera&Assoeries</option>
    </select>
  </div>




  <div class="form-group">
  <button class="btn btn-primary">join</button>
  </div>
  </div>

</form>