{{#if client}}
<div class="container">
    <div>
        <label for="">name</label>
        <span>{{client.first_name}} {{client.last_name}}</span>
    </div>
    <div>
        <label for="">Register Number</label>
        <span>{{client.regNum}}</span>
    </div>


</div>
{{/if}}
<form action="/p/addition/{{client._id}}" method="POST">
    <div class="container" style="background-color: rgb(227, 233, 190);">



        <div class="form-group">
            <label class="form-group" for="exampleFormControlSelect1">category</label>
            <select name="category" class="form-control" id="exampleFormControlSelect1" required="required">
                <option>select your gsdgets</option>
                <option>mobile</option>
                <option>computer</option>
                <option>cameras</option>

            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">BRAND</label>
            <select name="brand" class="form-control" id="exampleFormControlSelect1" required="required">
                <option>CHOOSE YOUR BRAND</option>
                <option>samsung</option>
                <option>oppo</option>
                <option>vivo</option>
                <option>Oneplud</option>
                <option>xiaomi</option>
                <option>realme</option>
                <option>nokia</option>
                <option>micromax</option>
                <option>xiomi</option>
            </select>
        </div>
        <div class="form-group">
            <label for="pwd">Modal Name</label>
            <input name="modal" type="text" class="form-control" id="pwd" placeholder="your gadget exact modal name" required="required">
        </div>
        <div class="form-group">
            <label for="pwd">varient</label>
            <input name="varient" type="text" class="form-control" id="pwd" placeholder="your internal and ram" required="requi">

        </div>
        <div class="form-group">
            <label for="pwd">color</label>
            <input name="color" type="text" class="form-control" id="" required="required">
        </div>
        <div class="form-group">
            <label for="pwd">IMEI NO:</label>
            <input type="text" class="form-control" id="imei1" required="required">

        </div>
        <div class="form-group">
            <label for="pwd">IMEI NO:</label>
            <input name="IMEI_number" type="text" class="form-control" id="imei2" required="required">

        </div>
        <div>
            <input type="file" accept="image/*" onchange="loadFile(event)">
            <img style="background-color: rgb(227, 233, 190);width: 200px;" id="output" />
        </div>
        <button class="btn btn-success mx-auto mt-3 form-group form-control ">add product</button>

    </div>
</form>

<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>