<style>
    #div {
        font-family: AzhvarMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>

<div id="div" class="container">
    <div>
        <h1>About Us</h1>
    </div>
    <div>
        <p>
            &#8277 We are peoples service problem solving based startup to save peoples time and more money spending
            during go to the service station
        </p>
    </div>
    <div>
        <p>
            &#8277 Now we are provide service in KANYAKUMARI and TRIVANDRUM and also we are seeking to establish
            to other surrounding so we available all places in india soon
        </p>
    </div>
    <div>
        <p>
            &#8277 Just we've collect gadgets but it saves lotof peoples money and ofcourse We've save their preciese
            time

        </p>
    </div>
    <div>
        <p>
            &#8277 We've tring to improve our support to our retailer shop partners because they are hevily affected by
            big E-commerce
            so we need to support them <br>

            <small>Are you retailer!! you want to become partner of us visit <a href="/p/logup">Here</a></small>


        </p>
    </div>
</div>
<div id="div" class="container">
    <div>
        <p>
            You want to know how our company works!!!
            <small><a href="/howItsWork">Visit Here</a></small>
        </p>
    </div>
</div>