<style>
    #contact_div{
        background-color: #e5e5e5;
    }
</style>
<section>
    <div id="contact_div">
        <form action="">
            <div class="form-group">
                <label class="form-group" for="">Name</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div>
                <label class="form-group" for="">Your Email</label>
                <input type="email" name="email" id="email" class="form-control">
            </div>
            <div>
                <label class="form-group" for="">contact us</label>
                <textarea class="form-group" name="inform" id="inform" cols="" rows="" placeholder="type here"
                    class="form-control"></textarea>
            </div>
            <div>
                <button class="btn btn-primary">submit</button>
            </div>
        </form>
    </div>
</section>