<section>
    <style>
        img {
            width: 300px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

        #div {
            font-family: ProximaNova, Arial, Helvetica Neue, sans-serif;
        }

        #notes {}

        #notes p {}

        #ctdiv {
            background-color: black;
            width: 100%;
            height: auto;
            color: white;
            margin-top: 30px;
        }

        #ctImg {
            width: 25%;
            height: auto;
        }
    </style>
    <div id="div" class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12">
        <div>
            <h4 class="text-center">
                <p>WHY & HOW IT IS WORKS</p>
            </h4>
        </div>
        <div class="container">
            <p>
            <h5>We are provide money and time saving service for you</h5>
            </p>
            <h5>
                <p>ok!!! Lets talk about your gadgets service problem and how its?</p>
            </h5>
        </div>
        <div id="notes">
            <div class="">
                <div>
                    <p>&#8277 When your gadgets will repair whithout any physical damage from you then you will feel
                        you're cheated by them
                    </p>
                </div>
                <div>
                    <p>

                        &#8277 then you're going to retaile shop or product provider , most of them placed inlong
                        distance
                        from you
                        so you need to go there with spending of your money and precious time
                    </p>
                </div>
                <div>
                    <p>
                        &#8277 But many time probably you won't go and your'e just will be go to nearby
                        repair shop and give paid service and repair it back
                    </p>
                </div>
                <div>
                    <p>
                        &#8277 This feel like your'e cheathed by them ok how will be overcome this so we are just doing
                        this
                        for you

                    </p>
                </div>
                <div>
                    <h4>BELOW</h4>
                </div>
            </div>

        </div>

        <div class="container col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xm-12">

            <div id="ctdiv" class="mr-2">
                whether you are buy a service for your gadget then if your gadget will damage <br>
                &#8277 first you will make repair alert from our wepsite <br>
                &#8277 then we will collect your gadget from your home at your specified time
            </div>
            <div>
                <div id="ctImg">
                    <img class="" src="images/azhvarcollection.jpeg" alt="">

                </div>
            </div>

        </div>
        <div class="container col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xm-12 mt-5">
            <div id="ctdiv" class="mr-2">
                &#8277 Then we will sent your gadget to authorized repair shop then we will repair it
            </div>
            <div id="ctImg" class="mt-4">
                <img src="images/azhvar_sent.jpeg" alt="">
            </div>
            <div>
                <img src="images/repair_shop.jpg" alt="">
            </div>
        </div>
        <div class="container col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xm-12 mt-5">
            <div id="ctdiv" class="mr-2">
                &#8277 Then we will return it within 36 houres
            </div>
            <div id="ctImg" class="mt-4">
                <img src="images/azhva_return.png" alt="">
            </div>
        
        </div>
         <div class="container col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xm-12 mt-5">
            <div id="ctdiv" class="mr-2">
                &#8277 Then we will return your gadget to your home with repaired
            </div>
            <div id="ctImg" class="mt-4">
                <img src="images/azhvar_homeDelivery.png" alt="">
            </div>
        
        </div>
    </div>
</section>