<style>
    .container{
       width: 300px;
       height: 150px;
    }
    .mx-auto{
        width: 200px;
        margin-left:auto;
        margin-right:auto
    }
    .my-auto{
         height: 150px;
        margin-top:auto;
        margin-bottom:auto
    }
    .text-center{
        margin-bottom:30px ;
    }
   .btnbtn-success{
       width: 100px;
   }
</style>
<div class="mx-auto container my-auto">
<h1 class="text_center">PAYMENT SUCCESSFULLY ADDED</h1>

<p>click below button</p>
<a class="btn btn-success" href="/u">ok</a> 
</div>