<style>
    #main {
        margin-left: auto;
        margin-right: auto;
        width: 300px;

    }

    .mx-auto {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    .my-auto {
        margin-top: auto;
        margin-bottom: auto;
        height: 150px;
    }
</style>
<section>
    <div id="main">
        <div class="mx-auto my-auto">
            <form action="/u/change_uE" method="POST">
              
                <div class="form-group">

                    <label for="" class="form-group">Enter your new email</label>
                    <input class="form-control" type="email" name="email" required="required" >
                    <button class="btn btn-primary mx-auto mt-4">submit</button>
                </div>
            </form>

        </div>
    </div>
    </div>
</section>
