<style>
   
    a {
        margin-left: 35%;
       
        width: 100px;
    }
    
</style>




<div style="width: 300px;height:200px;background-color: rgb(232, 243, 232)" class="mx-auto mt=auto">
    <p class="text-center">Are you sure want to submit</p>
    <a class="mx-auto mb-4 btn btn-primary" href="/u">ok</a>


</div>