<div>
   <a class="float-left btn btn-primary" href="/u">skip the page</a>

</div>
<section>
   
      <div class="container">

         <form action="/u/data" method="POST">


            <div>
               <label class="form-group" for="">secondary mobileNumber</label>
               <input class="form-control" type="text" placeholder="optional" name="secondarymobile">
               <small>for a additional communication</small>
            </div>
            <div>
               <label class="form-group" for=""> Email</label>
               <input class="form-control" type="text" placeholder="service Information" required="required" name="email">
               <small>for your service status</small>
            </div>
            <div>
               <label class="form-group" for="">secondary Email</label>
               <input class="form-control" type="text" placeholder="optional" name="secondaryEmail">
            </div>
            <div>
               <label class="form-group" for="">Address</label>
               <textarea class="form-control" name="address" id="address" cols="" rows=""></textarea>
               <small>for your service pickup & give available one</small>
            </div>
            <div>
               <label class="form-group" for="">Pincode</label>
               <input class="form-control" type="text" name="pincode" placeholder="enter six digit postal address">
            </div>
            <div>
               <button class="btn btn-success mt-4" onclick="conformation() ">add successfully</button>


            </div>
         </form>
      </div>
   
   <script>
      function conformation() {

      }
   </script>
</section>